*{
    margin: 0;
}

.contenedor{
    background-image: url(pato.avif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: 2.5cm;
    font-style: oblique;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}